<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823589661225-a2lbf61ivru7vffnkq4agsn0pp04a2hr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823589661225-a2lbf61ivru7vffnkq4agsn0pp04a2hr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>823589661225-lj54aat0tfhtpsc0i4ub70vg3f6866uc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhcQ7Aii0BimVM53p8NW6MKmkZGniuo0A</string>
	<key>GCM_SENDER_ID</key>
	<string>823589661225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liveChatApp</string>
	<key>PROJECT_ID</key>
	<string>live-chat-48e99</string>
	<key>STORAGE_BUCKET</key>
	<string>live-chat-48e99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823589661225:ios:2374c89fd8835e5664ca38</string>
</dict>
</plist>